.gm-vc {
	background: #fdfbf5;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.gm-vc-controls {}

.gm-vc-grid {}

.gm-vc-column {}

.gm-vc-header {}

.gm-vc-header__content {}

.gm-vc-month {}

.gm-vc-year {}

.gm-vc-arrow .gm-vc-arrow_prev {}

.gm-vc-arrow .gm-vc-arrow_next {}

.gm-vc-wrapper {}

.gm-vc-content {}

.gm-vc-months {}

.gm-vc-months__month {}

.gm-vc-years {}

.gm-vc-years__year {}

.gm-vc-week {}

.gm-vc-week__day {}

.gm-vc-week-numbers {}

.gm-vc-week-numbers__title {}

.gm-vc-week-numbers__content {}

.gm-vc-week-number {}

.gm-vc-dates {}

.gm-vc-date {}

.gm-vc-date__btn {}

.gm-vc-date__popup {}

.gm-vc-date-range-tooltip {}

.gm-vc-time {}

.gm-vc-time__content {}

.gm-vc-time__hour {

	input {
		font-weight: 400 !important;
		background: transparent;
		font-size: 21px !important;
	}
}

.gm-vc-time__minute {

	input {
		font-weight: 400 !important;
		background: transparent;
		font-size: 21px !important;
	}
}

.gm-vc-time__keeping {}

.gm-vc-time__ranges {}

.gm-vc-time__range {}

[data-vc-theme=light] .vc-time__range input {
	background: transparent !important;
}