@use '../config/functions.scss' as func;
@use '../config/mixins.scss' as mixin;
@use '../config/breakpoints.scss' as bp;

.breadcrumbs {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	margin-bottom: func.rem(33);

	@media (max-width:bp.$md) {
		margin-bottom: func.rem(10);
	}

	// .breadcrumbs__list

	&__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		// overflow: auto;
		// -ms-overflow-style: none;
		// scrollbar-width: none;
		// -webkit-overflow-scrolling: touch;

		// &::-webkit-scrollbar {
		// 	display: none;
		// }
	}

	// .breadcrumbs__li

	&__li {
		margin: func.rem(0) func.rem(15) func.rem(5) func.rem(0);
		display: flex;
		align-items: center;
		white-space: nowrap;

		&:not(:last-child) {
			&::after {
				content: '•';
				display: block;
				color: var(--grey-text-color);
				font-size: 21px;
				line-height: 119%;
				margin-left: func.rem(15);
			}
		}
	}

	// .breadcrumbs__link

	&__link {
		color: var(--grey-text-color);
		font-size: 21px;
		line-height: 119%;
		white-space: nowrap;

		@media (max-width:bp.$md) {
			font-size: 17px;
		}

		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	// .breadcrumbs__item

	&__item {
		color: var(--grey-text-color);
		font-size: 21px;
		line-height: 119%;
		white-space: nowrap;

		@media (max-width:bp.$md) {
			font-size: 17px;
		}
	}
}