@use '../config/functions.scss' as func;
@use '../config/mixins.scss' as mixin;
@use '../config/breakpoints.scss' as bp;

.breadcrumbs {
	position: relative;
	z-index: 1;
	margin-bottom: func.rem(18);
	display: flex;

	.page-contacts.page-left-margin & {
		padding-left: func.rem(0);
		max-width: 1083px;
		margin-left: auto;
		margin-right: auto;
	}

	.page-faq.page-left-margin & {
		@include mixin.adaptiveValue("padding-left", 242, 0, 0, 1920, 1440);
	}

	.page-about.page-left-margin &,
	.page-faq-order.page-left-margin & {
		padding-left: 0;
		max-width: 1120px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;

		@media (max-width:bp.$xxl) {
			max-width: 960px;
		}

		@media (max-width:bp.$xl) {
			max-width: 726px;
		}
	}

	.page-left-margin & {
		padding-left: func.rem(320);

		@media (max-width:bp.$xxl) {
			padding-left: func.rem(290);
		}

		@media (max-width:bp.$xl) {
			padding-left: 0;
		}
	}

	@media (max-width:bp.$md) {
		margin-bottom: func.rem(10);
	}

	// .breadcrumbs__list

	&__list {
		display: flex;
		overflow: auto;
		-ms-overflow-style: none;
		scrollbar-width: none;
		-webkit-overflow-scrolling: touch;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	// .breadcrumbs__li

	&__li {
		margin: func.rem(0) func.rem(15) func.rem(5) func.rem(0);
		display: flex;
		align-items: center;
		white-space: nowrap;

		&:not(:last-child) {
			&::after {
				content: '/';
				display: block;
				// height: 70%;
				// width: 2px;
				margin-left: func.rem(15);
			}
		}
	}

	// .breadcrumbs__link

	&__link {
		color: #000;
		font-size: 14px;
		line-height: 22px;
		white-space: nowrap;

		.page-about & {
			color: #fff;
		}

		// .breadcrumbs__link_back-svg

		&_back-svg {
			display: none;
			width: 18px;
			height: 13px;
			margin-right: func.rem(20);

			use {
				fill: #EB7A1D;
			}
		}
	}

	// .breadcrumbs__item

	&__item {
		color: #000;
		font-size: 14px;
		line-height: 22px;
		white-space: nowrap;

		.page-about & {
			color: #fff;
		}
	}
}