@use '../config/breakpoints' as bp;
@use '../config/variables' as var;
@use '../config/functions' as func;
@use '../config/mixins' as mixin;

.pagging {
	display: grid;
	grid-template-columns: repeat(3, auto);
	justify-content: center;
	align-items: center;
	// .pagging__arrow

	&__arrow {
		height: 24px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 34px;
		height: 15px;

		svg {
			width: 100%;
			height: 100%;

			use {
				fill: var(--grey-text-color);
			}
		}

		@media (any-hover: hover) {
			&:hover {
				svg {
					use {
						fill: #000;
					}
				}
			}
		}

		@media (max-width:bp.$xxs) {
			width: 30px;
			height: 13px;
		}

		// .pagging__arrow_left

		&_left {
			@media (min-width:bp.$md) {
				margin-right: func.rem(11);
			}
		}

		// .pagging__arrow_right

		&_right {
			@media (min-width:bp.$md) {
				margin-left: func.rem(11);
			}
		}
	}

	// .pagging__links

	&__links {
		display: flex;
		align-items: center;
	}

	// .pagging__link

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 24px;
		width: 68px;
		color: var(--grey-text-color);

		&._active {
			color: #000;
		}

		@media (any-hover: hover) {
			&:hover {
				color: #000;
			}
		}

		@media (max-width:bp.$md) {
			width: 41px;
		}

		@media (max-width:bp.$xxs) {
			width: 35px;
		}

		// .pagging__link_dots

		&_dots {
			width: 45px;

			@media (max-width:bp.$md) {
				width: 27px;
			}
		}
	}
}