@use '../config/breakpoints.scss' as bp;
@use '../config/functions.scss' as func;

//#region Базовые стили 

body::after {
	content: "";
	background-color: rgba(58, 58, 58, 0.8);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: all 0.8s ease 0s;
	pointer-events: none;
	z-index: 1490;
}

.popup-show body::after {
	opacity: 1;
}

.popup {
	cursor: url(../img/icons/icon_close-cursor-black.svg) 14 14, move;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: all 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;

	// .popup_center

	&_center {}

	// .popup__wrapper

	&__wrapper {
		flex: 1 1 auto;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		height: 100%;

		.popup_center & {
			justify-content: center;
			align-items: center;
			min-height: 100%;
			// height: auto;
		}
	}

	// .popup__content

	&__content {
		cursor: auto;
		visibility: hidden;
		transform: translate(120%, 0px);
		transition: all 0.6s ease 0s;
		background: #fff;
		max-width: 667px;
		width: 100%;
		height: 100%;

		.popup_show & {
			visibility: visible;
			transform: translate(0px, 0px);
		}

		.popup_center & {
			transform: scale(0);
			height: auto;
			max-height: 100%;
		}

		.popup_center.popup_show & {
			transform: scale(1);
		}

		.video-popup & {
			max-width: 100%;
		}

		.lock & {
			visibility: visible;
		}

		.popup-basket & {
			max-width: 960px;
		}
	}

	// .popup__close

	&__close {
		outline: none;
		width: 26px;
		height: 26px;
		flex: 0 0 26px;

		svg {
			height: 100%;
			width: 100%;
		}
	}

	// .popup__close-svg

	&__close-svg {
		height: 100%;
		width: 100%;

		use {
			fill: #574c40;
		}
	}

	// .popup__text

	&__text {
		font-size: 18px;
		line-height: 26px;
		max-width: 586px;
		margin-bottom: func.rem(52);
	}

	// .popup__header

	&__header {
		border-bottom: 1px solid #CACACA;
		padding: func.rem(40);
		padding-left: func.rem(54);
		padding-right: func.rem(65);
		display: flex;
		justify-content: space-between;
		align-items: center;

		.popup-basket & {
			border-bottom: none;
			padding: func.rem(43) func.rem(42) func.rem(22) func.rem(32);

			@media (max-width:bp.$md) {
				padding: func.rem(20);
			}
		}

		@media (max-width:bp.$md) {
			padding: func.rem(30);
		}

		@media (max-width: func.em(679.98)) {
			padding: func.rem(15);
		}

		@media (max-width:bp.$xs) {
			padding: func.rem(10);
		}

		.video-popup &,
		.basket-empty & {
			justify-content: flex-end;
		}
	}

	// .popup__video

	&__video {
		width: 100%;
		height: calc(100vh - 200px);

		iframe {
			width: 100%;
			height: 100%;
		}
	}

	// .popup__title

	&__title {
		font-family: var(--second-family);
		font-weight: 600;
		font-size: 46px;
		text-align: center;
		color: #3f3f3f;

		@media (max-width:bp.$md) {
			font-size: 30px;
		}

		@media (max-width:bp.$xs) {

			#policy &,
			#consent & {
				font-size: 20px;
			}
		}
	}

	// .popup__main

	&__main {
		padding: func.rem(24) func.rem(60) func.rem(50);
		overflow: auto;
		height: calc(100% - 121px);

		#policy &,
		#consent & {
			height: calc(100% - 153px);

			&::-webkit-scrollbar {
				display: none;
			}
		}

		.popup-basket & {
			padding: func.rem(0) func.rem(7) func.rem(0) func.rem(30);
			height: calc(100% - 111px);

			@media (max-width:bp.$lg) {
				padding: 0;
			}

			@media (max-width:bp.$md) {
				height: calc(100% - 70px);
			}
		}

		@media (max-width:bp.$md) {
			padding: 20px;
		}
	}

	// .popup__form

	&__form {}

	// .popup__icon

	&__icon {
		width: 38px;
		height: 30px;
	}
}

.popup_show {
	z-index: 1500;
	visibility: visible;
	pointer-events: auto;
}

//#endregion

//#region Дополнительные стили

.popup {

	// .popup_center

	&_center {}

	// .popup__wrapper

	&__wrapper {}

	// .popup__content

	&__content {
		#share-popup & {
			max-width: 460px;
		}
	}

	// .popup__close

	&__close {}

	// .popup__text

	&__text {}

	// .popup__header

	&__header {}

	// .popup__close-svg

	&__close-svg {}

	// .popup__video

	&__video {}

	// .popup__title

	&__title {}

	// .popup__main

	&__main {
		#share-popup & {
			height: auto;
		}
	}

	// .popup__form

	&__form {}

	// .popup__icon

	&__icon {}
}

//#endregion

//#region Стили модалки шаринга
.share {

	// .share__social

	&__social {
		margin-bottom: func.rem(40);
	}

	// .share__copy-url

	&__copy-url {}

	// .share__input

	&__input {}

	// .share__button

	&__button {
		width: 100%;
	}
}

//#endregion

//#region Корзина

.popup-basket {}

.basket {
	display: grid;
	grid-template-columns: 1fr 327px;
	grid-template-rows: 1fr auto;
	gap: 43px 24px;
	height: 100%;

	@media (max-width:bp.$lg) {
		grid-template-columns: 1fr;
		gap: 0;
	}

	// .basket__items

	&__items {
		// padding-right: func.rem(24);
		height: 100%;
		overflow: auto;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	// .basket__summary

	&__summary {
		@media (max-width:bp.$lg) {
			margin-bottom: func.rem(5);
		}
	}

	// .basket__info

	&__info {
		grid-column: 1/-1;
	}
}

.basket-item {
	padding: func.rem(15) 0;
	border-top: 1px solid #d8d8d8;
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 38px;

	@media (max-width:bp.$lg) {
		padding: func.rem(20);
	}

	@media (max-width:bp.$md) {
		gap: 12px;
	}

	@media (max-width:bp.$sm) {
		grid-template-columns: 1fr;
	}

	&:last-child {
		border-bottom: 1px solid #d8d8d8;
	}

	&:first-child {
		@media (max-width:bp.$md) {
			border-top: none;
		}
	}

	// .basket-item__image-ibg

	&__image-ibg {
		width: 189px;
		height: 252px;
		overflow: hidden;
		border-radius: 10px;

		@media (max-width:bp.$md) {
			width: 172px;
			height: 231px;
		}
	}

	// .basket-item__info

	&__info {}

	// .basket-item__top

	&__top {
		display: grid;
		grid-template-columns: 1fr auto;
		gap: 24px;
		margin-bottom: func.rem(12);
	}

	// .basket-item__name

	&__name {
		font-weight: 400;
		font-size: 21px;
		line-height: 119%;
		color: var(--green-text-color);

		@media (max-width:bp.$md) {
			font-size: 17px;
		}

		&:hover {
			text-decoration: underline;
		}
	}

	// .basket-item__buttons

	&__buttons {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	// .basket-item__delete

	&__delete {
		&::before {
			transition: none;
		}

		img {
			width: 19px;
			height: 25px;
		}
	}

	// .basket-item__favorite

	&__favorite {
		svg {
			width: 25px;
			height: 22px;

			use {
				fill: none;
				stroke: #030303;
			}
		}

		@media (any-hover: hover) {
			&:hover {
				svg {
					use {
						fill: #030303;
					}
				}
			}
		}
	}

	// .basket-item__footer

	&__footer {
		display: grid;
		grid-template-columns: repeat(3, auto);
		justify-content: space-between;
		align-items: center;
	}

	// .basket-item__price

	&__price {
		font-size: 24px;
		color: #989793;

		@media (max-width:bp.$md) {
			font-size: 21px;
		}
	}

	// .basket-item__quantity

	&__quantity {}

	// .basket-item__total-price

	&__total-price {
		font-size: 24px;
		color: var(--green-text-color);

		@media (max-width:bp.$md) {
			font-size: 21px;
		}
	}
}

.quantity {

	// .quantity__button

	&__button {

		// .quantity__button_minus

		&_minus {}

		// .quantity__button_plus

		&_plus {}
	}

	// .quantity__input

	&__input {}
}

.basket-summary {
	background: #e9f1e9;
	border-radius: 10px;
	padding: func.rem(26) func.rem(35);
	height: 100%;

	@media (max-width:bp.$lg) {
		padding: func.rem(20);
	}

	// .basket-summary__cost

	&__cost {
		display: flex;
		justify-content: space-between;
		gap: 15px;
		align-items: flex-end;
		margin-bottom: func.rem(9);
	}

	// .basket-summary__name

	&__name {
		@media (max-width:bp.$md) {
			font-size: 17px;
		}
	}

	// .basket-summary__value

	&__value {
		font-size: 24px;
		color: var(--green-text-color);

		@media (max-width:bp.$md) {
			font-size: 21px;
		}
	}

	// .basket-summary__total

	&__total {
		display: flex;
		justify-content: space-between;
		gap: 15px;
		align-items: flex-end;
		margin-top: func.rem(30);
		margin-bottom: func.rem(38);

		@media (max-width:bp.$md) {
			margin-top: func.rem(20);
			margin-bottom: func.rem(14);
		}

		// .basket-summary__name

		.basket-summary__name {
			font-weight: 700;
			font-size: 24px;
			color: #000;

			@media (max-width:bp.$md) {
				font-size: 21px;
			}
		}

		// .basket-summary__value

		.basket-summary__value {
			font-weight: 700;
			font-size: 24px;

			@media (max-width:bp.$md) {
				font-size: 21px;
			}

			span {
				font-weight: 400;
			}
		}
	}

	// .basket-summary__checkout

	&__checkout {
		width: 100%;
		background: #c2dfbf;
		border-radius: 5px;
		font-size: 21px;
		text-align: center;
		padding: func.rem(18) 0;
		display: block;
		margin-bottom: func.rem(20);

		@media (max-width:bp.$md) {
			font-size: 17px;
			padding: func.rem(12) 0;
			margin-bottom: func.rem(15);
		}
	}

	// .basket-summary__note

	&__note {
		line-height: 117%;
		font-size: 18px;

		@media (max-width:bp.$md) {
			font-size: 16px;
		}
	}
}

.basket-info {
	background: #e9f1e9;
	border-radius: 10px;
	padding: func.rem(40) 0;
	padding-left: func.rem(26);
	padding-right: func.rem(33);
	display: flex;
	align-items: center;
	gap: 32px;

	@media (max-width:bp.$lg) {
		padding: func.rem(15) func.rem(20);
	}

	// .basket-info__icon

	&__icon {
		width: 35px;
		height: 53px;
		flex: 0 0 35px;

		@media (max-width:bp.$lg) {
			display: none;
		}

		img {
			max-width: 100%;
		}
	}

	// .basket-info__text

	&__text {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 18px;
		line-height: 117%;
		color: #000;

		@media (max-width:bp.$md) {
			font-size: 13px;
		}
	}
}

//#endregion