@use '../config/breakpoints' as bp;
@use '../config/variables' as var;
@use '../config/functions' as func;
@use '../config/mixins' as mixin;

.cabinet {
	max-width: 1600px;
	margin: 0 auto;

	@media (max-width:bp.$sm) {
		margin-left: func.rem(-20);
		margin-right: func.rem(-20);
	}
}

.loyalty-program {
	background-color: #fff;
	padding: func.rem(40);
	display: flex;
	align-items: center;
	gap: 16px 0px;
	margin-bottom: func.rem(40);

	@media (max-width:func.em(1600)) {
		flex-wrap: wrap;
		justify-content: space-between;
	}

	@media (max-width:bp.$xl) {
		display: grid;
	}

	@media (max-width:bp.$lg) {
		padding: func.rem(20);
	}

	@media (max-width:bp.$md) {
		margin-bottom: func.rem(10);
	}


	// .loyalty-program__title

	&__title {
		font-family: var(--second-family);
		font-weight: 400;
		font-size: 36px;
		color: #295e21;
		margin-right: 9%;

		@media (max-width:func.em(1600)) {
			flex: 1 1 100%;
		}

		@media (max-width:bp.$xl) {
			margin-right: 0;
		}

		@media (max-width:bp.$md) {
			font-size: 26px;
		}
	}

	// .loyalty-program__discount

	&__discount {
		display: flex;
		align-items: center;
		gap: 9px;
		margin-right: 6.2%;

		@media (max-width:bp.$xl) {
			margin-right: 0;
		}
	}

	// .loyalty-program__discount-label

	&__discount-label {
		font-weight: 500;
		font-size: 21px;

		@media (max-width:bp.$md) {
			font-size: 17px;
		}
	}

	// .loyalty-program__discount-value

	&__discount-value {
		background: #ede9df;
		border-radius: 3px;
		font-weight: 500;
		font-size: 31px;
		line-height: 97%;
		color: #000;
		padding: func.rem(10) func.rem(26);

		@media (max-width:bp.$md) {
			font-size: 25px;
			padding: func.rem(5) func.rem(10);
		}
	}

	// .loyalty-program__purchase-sum

	&__purchase-sum {
		display: flex;
		align-items: center;
		gap: 9px;
		margin-right: 7.6%;

		@media (max-width:bp.$xl) {
			margin-right: 0;
		}
	}

	// .loyalty-program__purchase-sum-label

	&__purchase-sum-label {
		font-size: 21px;

		@media (max-width:bp.$md) {
			font-size: 17px;
		}
	}

	// .loyalty-program__purchase-sum-value

	&__purchase-sum-value {
		font-weight: 500;
		font-size: 21px;
		color: #295e21;
		white-space: nowrap;

		@media (max-width:bp.$md) {
			font-size: 17px;
		}
	}

	// .loyalty-program__progress

	&__progress {
		display: flex;
		align-items: center;
		gap: 9px;
	}

	// .loyalty-program__progress-label

	&__progress-label {
		font-size: 21px;

		@media (max-width:bp.$md) {
			font-size: 17px;
		}
	}

	// .loyalty-program__progress-value

	&__progress-value {
		font-weight: 500;
		font-size: 21px;
		color: #295e21;
		white-space: nowrap;

		@media (max-width:bp.$md) {
			font-size: 17px;
		}
	}
}

.subscription {
	margin-bottom: func.rem(40);

	// .subscription__inner

	&__inner {
		background: #f7f4ea;
		padding: func.rem(38) func.rem(40);
		padding-right: func.rem(27);
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 30px;

		&+.subscription__inner {
			margin-top: func.rem(33);

			@media (max-width:bp.$md) {
				margin-top: func.rem(10);
			}
		}

		@media (max-width:bp.$lg) {
			padding: func.rem(20);
		}

		@media (max-width:bp.$md) {
			display: block;
		}
	}

	// .subscription__text

	&__text {
		font-family: var(--second-family);
		font-weight: 400;
		font-size: 36px;
		color: #295e21;

		@media (max-width:bp.$md) {
			font-size: 26px;
			margin-bottom: func.rem(23);
		}
	}

	// .subscription__button

	&__button {
		width: 217px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 21px;
		text-align: center;
		border-radius: 5px;
		transition: background 0.3s ease 0s;

		@media (max-width:bp.$md) {
			width: 100%;
		}

		// .subscription__button_subscribed

		&_subscribed {
			background: #c2dfbf;

			@media (any-hover: hover) {
				&:hover {
					background: var(--green-button-hover);
				}
			}
		}

		// .subscription__button_unsubscribed

		&_unsubscribed {
			background: #eaeaea;

			@media (any-hover: hover) {
				&:hover {
					background: #e2e2e2;
				}
			}
		}
	}

	// .subscription__status

	&__status {
		display: grid;
		justify-items: end;
		gap: 16px;
		margin-top: func.rem(22);

		@media (max-width:bp.$md) {
			margin-top: func.rem(9);
			justify-items: start;
			padding: func.rem(0) func.rem(20);
		}

		// .subscription__status_error

		&_error {}
	}
}

.status-message {

	// .status-message_success

	&_success {}

	// .status-message_failure

	&_failure {}

	// .status-message__text

	&__text {}
}

//========================================================================================================================================================

.account {
	display: grid;
	grid-template-columns: 1fr 1.388fr;
	gap: 24px;
	margin-bottom: func.rem(40);

	@media (max-width:bp.$xxl) {
		grid-template-columns: 1fr;
	}

	@media (max-width:bp.$md) {
		gap: 10px;
		margin-bottom: func.rem(10);
	}

	// .account__section

	&__section {

		// .account__section_info

		&_info {
			.personal-info {
				height: 100%;
			}
		}

		// .account__section_profiles

		&_profiles {
			.delivery-profiles {
				height: 100%;
			}
		}
	}
}

.personal-info {
	background: #f7f4ea;
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	align-content: start;
	gap: 20px;
	padding: func.rem(40) func.rem(24) func.rem(55) func.rem(40);

	@media (max-width:bp.$lg) {
		padding: func.rem(20);
		padding-top: func.rem(25);
	}

	@media (max-width:bp.$md) {
		display: block;
	}

	// .personal-info__title

	&__title {
		grid-row: 1/2;
		grid-column: 1/2;
		font-weight: 400;
		font-size: 36px;
		color: #295e21;
		font-family: var(--second-family);

		@media (max-width:bp.$md) {
			font-size: 26px;
			margin-bottom: func.rem(25);
		}
	}

	// .personal-info__field

	&__field {
		grid-column: 1/3;
		padding-right: func.rem(15);

		@media (max-width:bp.$md) {
			margin-bottom: func.rem(19);
			padding-right: 0;
		}
	}

	// .personal-info__field-chunk

	&__field-chunk {
		display: grid;
		grid-template-columns: 80px 1fr auto;
		align-items: center;
		gap: 45px;

		&:not(:last-child) {
			margin-bottom: func.rem(27);

		}

		@media (max-width:bp.$md) {
			grid-template-columns: 64px 1fr auto;
			gap: 30px;
		}
	}

	// .personal-info__field-name

	&__field-name {
		font-size: 21px;
		line-height: 143%;

		@media (max-width:bp.$md) {
			font-size: 17px;
		}
	}

	// .personal-info__field-value

	&__field-value {
		font-weight: 500;
		font-size: 21px;
		line-height: 143%;

		@media (max-width:bp.$md) {
			font-size: 17px;
			font-weight: 400;
		}
	}

	// .personal-info__edit-btn

	&__edit-btn {
		width: 22px;
		height: 22px;

		svg {
			width: 100%;
			height: 100%;
		}
	}

	// .personal-info__logout

	&__logout {
		grid-row: 1/2;
		grid-column: 2/3;

		@media (max-width:bp.$md) {
			width: 100%;
		}
	}
}

.delivery-profiles {
	background: #f7f4ea;
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 20px;
	align-items: center;
	align-content: start;
	padding: func.rem(38) func.rem(27) func.rem(40) func.rem(40);

	@media (max-width:bp.$lg) {
		padding: func.rem(20);
		padding-top: func.rem(25);
	}

	@media (max-width:bp.$md) {
		display: block;
	}

	// .delivery-profiles__title

	&__title {
		grid-row: 1/2;
		grid-column: 1/2;
		font-weight: 400;
		font-size: 36px;
		color: #295e21;
		font-family: var(--second-family);

		@media (max-width:bp.$md) {
			font-size: 26px;
			margin-bottom: func.rem(15);
		}
	}

	// .delivery-profiles__add-button

	&__add-button {
		width: 217px;

		@media (max-width:bp.$md) {
			width: 100%;
			margin-bottom: func.rem(20);
		}
	}

	// .delivery-profiles__list

	&__list {
		grid-column: 1/-1;
		padding-right: func.rem(16);

		// scrollbar-width: thin;
		// scrollbar-color: var(--green-button) #ffffff00;

		&::-webkit-scrollbar {
			width: 6px;
		}

		&::-webkit-scrollbar-track {
			background-color: rgba(0, 0, 0, 0);
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--green-button-hover);
			border-radius: 10px;
		}

		@media (min-width:bp.$xxl) {
			overflow: auto;
			height: 218px;

		}
	}
}

.profile-item {
	display: grid;
	grid-template-columns: 1fr repeat(2, auto);
	align-items: start;
	gap: 30px;

	@media (max-width:bp.$sm) {
		grid-template-columns: 1fr auto;
		gap: 4px 20px;
	}

	&:not(:last-child) {
		margin-bottom: func.rem(36);

		@media (max-width:bp.$md) {
			margin-bottom: func.rem(19);
		}
	}

	// .profile-item__label

	&__label {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 20px;
		cursor: pointer;

		@media (max-width:bp.$md) {
			gap: 15px;
		}

		@media (max-width:bp.$sm) {
			grid-column: 1/-1;
		}
	}

	// .profile-item__input

	&__input {
		&:checked {
			&+.profile-item__radio::before {
				background: #295e21;
			}
		}
	}

	// .profile-item__radio

	&__radio {
		border: 1px solid rgba(0, 0, 0, 0.23);
		border-radius: 50%;
		width: 24px;
		height: 24px;
		position: relative;
		background: #fff;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 14px;
			height: 14px;
			background: transparent;
			border-radius: 50%;
		}
	}

	// .profile-item__info

	&__info {
		@media (max-width:bp.$md) {
			margin-top: func.rem(5);
		}
	}

	// .profile-item__address

	&__address {
		font-weight: 500;
		font-size: 21px;
		margin-bottom: func.rem(16);

		@media (max-width:bp.$md) {
			font-size: 19px;
			margin-bottom: func.rem(5);
		}
	}

	// .profile-item__details

	&__details {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 17px 54px;
		max-width: 375px;

		@media (max-width:bp.$md) {
			display: block;
		}
	}

	// .profile-item__text

	&__text {
		@media (max-width:bp.$md) {
			&:not(:last-child) {
				margin-bottom: func.rem(10);
			}
		}
	}

	// .profile-item__edit-button

	&__edit-button {
		font-weight: 400;
		font-size: 20px;
		line-height: 110%;
		color: #448000;

		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}

		@media (max-width:bp.$sm) {
			align-self: end;
			margin-left: func.rem(39);
		}
	}

	// .profile-item__delete-button

	&__delete-button {
		svg {
			width: 19px;
			height: 25px;
		}
	}
}

//========================================================================================================================================================

.order-history {
	max-width: 1335px;
	margin-bottom: func.rem(140);

	@media (max-width:bp.$md) {
		margin-bottom: func.rem(30);
	}

	// .order-history__header

	&__header {
		margin-bottom: func.rem(37);
		display: flex;
		align-items: center;
		gap: 88px;

		@media (max-width:bp.$md) {
			display: block;
			margin-bottom: func.rem(28);
		}

		@media (max-width:bp.$sm) {
			padding: func.rem(0) func.rem(20);
		}
	}

	// .order-history__title

	&__title {
		font-family: var(--second-family);
		font-weight: 400;
		font-size: 36px;
		color: #295e21;

		@media (max-width:bp.$md) {
			font-size: 26px;
			margin-bottom: func.rem(10);
		}
	}

	// .order-history__sort

	&__sort {}

	// .order-history__main

	&__main {
		margin-bottom: func.rem(70);
		display: grid;
		gap: 40px;
	}

	// .order-history__pagging

	&__pagging {}
}

.order-item {
	background: #f7f4ea;
	// .order-item__header

	&__header {
		padding: func.rem(36) func.rem(112) func.rem(26) func.rem(117);
		border-bottom: 1px solid #d6cfb7;
		display: flex;
		justify-content: space-between;
		gap: 7px 20px;

		@media (max-width:bp.$xl) {
			padding: func.rem(35);
		}

		@media (max-width:bp.$lg) {
			padding: func.rem(20);
			display: grid;
		}
	}

	// .order-item__info

	&__info {
		display: flex;
		align-items: center;
		gap: 33px;

		@media (max-width:bp.$md) {
			gap: 10px 20px;
			flex-wrap: wrap;
		}
	}

	// .order-item__number

	&__number {
		font-weight: 500;
		font-size: 24px;

		@media (max-width:bp.$md) {
			font-size: 21px;
		}
	}

	// .order-item__price

	&__price {
		font-weight: 700;
		font-size: 24px;
		color: #295e21;

		@media (max-width:bp.$md) {
			font-size: 21px;
		}
	}

	// .order-item__date

	&__date {
		font-size: 21px;

		@media (max-width:bp.$md) {
			font-size: 17px;
		}
	}

	// .order-item__status

	&__status {
		font-size: 21px;

		@media (max-width:bp.$md) {
			font-size: 18px;
		}

		// .order-item__status_paid

		&_paid {
			color: #46bb96;
		}

		// .order-item__status_pending

		&_pending {
			color: #de951a;
		}

		// .order-item__status_completed

		&_completed {
			color: #64a333;
		}

		// .order-item__status_canceled

		&_canceled {
			color: #c13e59;
		}
	}

	// .order-item__content

	&__content {
		padding: func.rem(22) func.rem(112) func.rem(35) func.rem(117);

		@media (max-width:bp.$xl) {
			padding: func.rem(35);
		}

		@media (max-width:bp.$lg) {
			padding: func.rem(20);
			padding-top: func.rem(15);
		}
	}

	// .order-item__content-title

	&__content-title {
		font-weight: 500;
		font-size: 21px;
		line-height: 143%;
		margin-bottom: func.rem(34);

		@media (max-width:bp.$md) {
			font-size: 19px;
			margin-bottom: func.rem(10);
		}
	}

	// .order-item__items

	&__items {
		margin-bottom: func.rem(46);
	}

	// .order-item__item

	&__item {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 38px;

		@media (any-hover: hover) {
			&:hover {
				.order-item__item-name {
					text-decoration: underline;
				}
			}
		}


		&:not(:last-child) {
			margin-bottom: func.rem(24);
			padding-bottom: func.rem(24);
			border-bottom: 1px solid #d6cfb7;
		}

		@media (max-width:bp.$md) {
			gzp: 28px;
		}
	}

	// .order-item__item-ibg

	&__item-ibg {
		width: 93px;
		height: 125px;
		border-radius: 10px;
		overflow: hidden;
	}

	// .order-item__item-info

	&__item-info {
		display: grid;
		align-content: space-between;
	}

	// .order-item__item-name

	&__item-name {
		font-size: 21px;
		line-height: 119%;
		color: #295e21;

		@media (max-width:bp.$md) {
			font-size: 17px;
		}
	}

	// .order-item__item-prices

	&__item-prices {
		display: flex;
		align-items: center;
		gap: 30px;
		font-size: 24px;
		font-weight: 400;
		font-family: var(--font-family);

		@media (max-width:bp.$md) {
			font-size: 21px;
			gap: 15px;
			flex-wrap: wrap;
		}
	}

	// .order-item__item-price

	&__item-price {
		color: #a4a39f;
	}

	// .order-item__item-count

	&__item-count {
		color: #000;
	}

	// .order-item__item-total

	&__item-total {
		font-weight: 700;
		color: #295e21;
	}
}

.order-details {

	// .order-details__button

	&__button {
		width: 100%;

		span {
			&:last-child {
				display: none;
			}
		}

		&._spoller-active {
			span {
				&:first-child {
					display: none;
				}

				&:last-child {
					display: block;
				}
			}
		}
	}

	// .order-details__body

	&__body {
		padding-top: func.rem(40);

		@media (max-width:bp.$lg) {
			padding-top: func.rem(25);
		}
	}

	// .order-details__grid

	&__grid {
		@media (min-width:bp.$lg) {
			columns: 2;
			max-width: 880px;
		}
	}

	// .order-details__row

	&__row {
		font-size: 21px;
		line-height: 143%;
		display: grid;
		grid-template-columns: 160px 230px;
		gap: 30px;

		&:not(:last-child) {
			margin-bottom: func.rem(28);

			@media (max-width:bp.$lg) {
				margin-bottom: func.rem(19);
			}
		}

		@media (max-width:bp.$md) {
			grid-template-columns: 130px 1fr;
			gap: 27px;
			font-size: 17px;
		}
	}

	// .order-details__name

	&__name {
		font-weight: 400;
		color: #989793;
	}

	// .order-details__value

	&__value {
		font-weight: 500;
		color: #000;
	}
}

//========================================================================================================================================================

.personal-info {

	// .personal-info__field-chunk

	&__field-chunk {
		position: relative;
	}

	// .personal-info__field-name

	&__field-name {}

	// .personal-info__field-value

	&__field-value {}

	// .personal-info__edit-btn

	&__edit-btn {}

	// .personal-info__edit

	&__edit {
		background: #f7f4ea;
		position: absolute;
		top: 0;
		right: 0;
		// left: 0;
		bottom: 0;
		display: grid;
		grid-template-columns: 1fr auto;
		gap: 20px;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease 0s;
		overflow: hidden;
		width: 100%;
		max-width: 0;

		.edit-mode-active & {
			opacity: 1;
			visibility: visible;
			max-width: 100%;
		}
	}

	// .personal-info__input

	&__input {}

	// .personal-info__confirm-btn

	&__confirm-btn {
		width: 22px;
		height: 22px;
		align-self: center;

		svg {
			width: 100%;
			height: 100%;
		}
	}

	// .personal-info__edit-status

	&__edit-status {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		display: grid;
		justify-content: end;
		opacity: 0;
		visibility: hidden;

		.status-message-active & {
			opacity: 1;
			visibility: visible;
		}
	}
}