@use '../config/breakpoints' as bp;
@use '../config/variables' as var;
@use '../config/functions' as func;
@use '../config/mixins' as mixin;

.contacts {
   margin-bottom: func.rem(70);

   @media (max-width:bp.$md) {
      margin-bottom: func.rem(21);
   }

   // .contacts__top

   &__top {
      max-width: 985px;
      margin: 0 auto;
   }

   // .contacts__list

   &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 60px;
      padding: func.rem(0) func.rem(52.5);
      margin-bottom: func.rem(34);

      @media (max-width:bp.$lg) {
         grid-template-columns: 1fr;
         gap: 33px;
         margin-bottom: func.rem(25);
      }

      @media (max-width:bp.$sm) {
         padding: 0;
      }
   }

   // .contacts__item

   &__item {
      display: grid;
      grid-template-columns: 30px 1fr;
      gap: 44px;
      align-items: center;

      @media (max-width:bp.$md) {
         gap: 16px;
      }
   }

   // .contacts__icon

   &__icon {
      max-width: 100%;
      justify-self: center;
      // align-self: center;
   }

   // .contacts__links

   &__links {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 5px 30px;
   }

   // .contacts__link

   &__link {
      font-size: 21px;
      line-height: 143%;

      @media (max-width:bp.$md) {
         font-size: 17px;
      }

      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }
   }

   // .contacts__text

   &__text {
      font-size: 21px;
      line-height: 143%;

      @media (max-width:bp.$md) {
         font-size: 17px;
      }
   }

   // .contacts__file

   &__file {
      background-color: #fff;
      padding: func.rem(28) func.rem(52.5);
      display: grid;
      gap: 44px;
      grid-template-columns: 30px 1fr;
      align-items: center;
      color: #448000;

      @media (max-width:bp.$md) {
         gap: 16px;
         align-items: start;
      }

      @media (max-width:bp.$sm) {
         padding: func.rem(15) func.rem(20);
         margin: func.rem(0) func.rem(-20);
      }
   }

   // .contacts__file-type

   &__file-type {
      margin-left: func.rem(14);
      font-size: 16px;
      color: #9b9b9b;

      @media (max-width:bp.$md) {
         font-size: 14px;
         display: block;
         margin: 0;
      }
   }
}

.contacts-center {
   display: grid;
   grid-template-columns: 900px 1fr;
   gap: 137px;
   margin-bottom: func.rem(120);

   @media (min-width:func.em(1930)) {
      grid-template-columns: minmax(900px, 1.3fr) minmax(450px, 1fr);
   }

   @media (max-width:bp.$xxl) {
      gap: 40px;
      grid-template-columns: 660px 1fr;
   }

   @media (max-width:bp.$xl) {
      grid-template-columns: 560px 1fr;

   }

   @media (max-width:bp.$lg) {
      display: block;
   }

   @media (max-width:bp.$md) {
      margin-bottom: func.rem(40);
   }

   // .contacts-center__map

   &__map {
      // margin-left: func.rem(-60);
      @include mixin.adaptiveValue("margin-left", -60, -20, 0, 1300, 1200);

      @media (max-width:bp.$lg) {
         height: 342px;
         margin-right: func.rem(-20);
         margin-bottom: func.rem(40);
      }
   }

   // .contacts-center__requisites

   &__requisites {}

   // .contacts-center__requisites-title

   &__requisites-title {
      font-weight: 500;
      font-size: 21px;
      margin-bottom: func.rem(34);

      @media (max-width:bp.$md) {
         margin-bottom: func.rem(10);
      }
   }

   // .contacts-center__requisites-main

   &__requisites-main {
      margin-bottom: func.rem(55);

      @media (max-width:bp.$md) {
         margin-bottom: func.rem(22);
      }
   }

   // .contacts-center__requisites-text

   &__requisites-text {
      font-size: 21px;
      line-height: 143%;

      @media (max-width:bp.$md) {
         font-size: 17px;
         line-height: 122%;
      }

      &:not(:last-child) {
         margin-bottom: func.rem(30);

         @media (max-width:bp.$md) {
            margin-bottom: func.rem(19);
         }
      }
   }

   // .contacts-center__file

   &__file {
      display: flex;
      gap: 13px;
      align-items: center;
      font-size: 21px;

      @media (max-width:bp.$md) {
         font-size: 17px;
      }

      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }

      img {
         width: 20px;
         height: 20px;
      }
   }

   // .contacts-center__file-name

   &__file-name {}

   // .contacts-center__file-type

   &__file-type {
      font-size: 16px;
      color: #9b9b9b;

      @media (max-width:bp.$md) {
         font-size: 14px;
      }
   }
}

.contacts-form {
   max-width: 840px;
   margin: 0 auto;
   margin-bottom: func.rem(100);

   @media (max-width:bp.$md) {
      margin-bottom: func.rem(40);
   }

   // .contacts-form__title

   &__title {
      margin-bottom: func.rem(16);
   }

   // .contacts-form__text

   &__text {
      margin-bottom: func.rem(78);
      text-align: center;

      @media (max-width:bp.$md) {
         margin-bottom: func.rem(30);
      }
   }
}