@use '../config/breakpoints' as bp;
@use '../config/variables' as var;
@use '../config/functions' as func;
@use '../config/mixins' as mixin;

.mp-fb {
   margin-bottom: func.rem(100);

   @media (max-width:bp.$lg) {
      margin-bottom: func.rem(30);
   }

   // .mp-fb__slider

   &__slider {
      position: relative;
   }

   // .mp-fb__wrapper

   &__wrapper {}

   // .mp-fb__slide

   &__slide {
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      display: grid;
      align-items: center;
      padding-left: func.rem(71);
      @include mixin.adaptiveValue("height", 794, 220, 0, 1920, 375);
      @include mixin.adaptiveValue("padding-bottom", 185, 59, 0, 1700, 1100);

      @media (max-width:bp.$lg) {
         padding-left: func.rem(20);
         align-items: end;
      }
   }

   // .mp-fb__image-ibg

   &__image-ibg {
      position: absolute;
      inset: 0;
      z-index: 1;
   }

   // .mp-fb__link

   &__link {
      color: #fff;
      font-weight: 400;
      line-height: normal;
      position: relative;
      z-index: 2;
      max-width: 630px;
      @include mixin.adaptiveValue("font-size", 60, 26);
      @include mixin.adaptiveValue("max-width", 630, 150);

      @media (max-width:bp.$md) {
         line-height: 27px;
         letter-spacing: -0.7px;
      }

      img {
         vertical-align: middle;

         @media (max-width:bp.$lg) {
            width: 28px;
            height: 12px;
         }
      }
   }

   // .mp-fb__pagination

   &__pagination {
      position: absolute;
      bottom: 17px;
      left: 107px;
      right: 107px;
      z-index: 2;
      height: 4px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
      gap: 13px;

      @media (max-width:bp.$lg) {
         gap: 5px;
         left: 20px;
         right: 20px;
      }

      .swiper-pagination-bullet {
         height: 100%;
         background: rgba(255, 255, 255, 0.3);
         transition: background 0.3s ease 0s;
         cursor: pointer;

         &.swiper-pagination-bullet-active {
            background: rgba(255, 255, 255, 0.7);
         }
      }
   }

   &__button-prev,
   &__button-next {
      position: absolute;
      bottom: 78px;
      z-index: 2;

      @media (max-width:bp.$lg) {
         display: none;
      }

      svg {
         width: 26px;
         height: 48px;

         use {
            fill: #fff;
         }
      }
   }

   // .mp-fb__button-prev

   &__button-prev {
      left: 50px;
   }

   // .mp-fb__button-next

   &__button-next {
      right: 50px;
   }
}

//========================================================================================================================================================

.cta-block {
   margin-bottom: func.rem(83);
   padding-left: func.rem(11);

   @media (max-width:bp.$xxl) {
      padding-left: 0;
   }

   @media (max-width:bp.$lg) {
      margin-bottom: func.rem(30);
   }

   // .cta-block__container

   &__container {}

   // .cta-block__title

   &__title {
      margin-bottom: func.rem(83);

      @media (max-width:bp.$md) {
         margin-bottom: func.rem(32);
      }
   }

   // .cta-block__row

   &__row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 80px;
      max-width: 1700px;

      @media (min-width:func.em(1921)) {
         margin: 0 auto;
      }

      @media (max-width:bp.$xl) {
         gap: 30px;
      }

      @media (max-width:bp.$lg) {
         grid-template-columns: 1fr;
      }
   }

   // .cta-block__item

   &__item {}

   // .cta-block__item-title

   &__item-title {
      font-weight: 500;
      font-size: 36px;
      color: var(--green-text-color);
      margin-bottom: func.rem(11);

      @media (max-width:bp.$md) {
         font-size: 19px;
      }
   }

   // .cta-block__links

   &__links {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: func.rem(28);

      @media (max-width:bp.$md) {
         gap: 20px;
         margin-bottom: func.rem(20);
      }
   }

   // .cta-block__link

   &__link {
      font-size: 21px;

      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }

      @media (max-width:bp.$md) {
         font-size: 17px;
      }

      img {
         margin-left: func.rem(14);
         display: inline-block;
         width: 30px;
         height: 13px;
         vertical-align: middle;
      }
   }

   // .cta-block__text

   &__text {
      font-size: 21px;
      line-height: 143%;

      @media (max-width:bp.$md) {
         font-size: 17px;
         line-height: 124%;
      }
   }
}

//========================================================================================================================================================

.bouquets {
   margin-bottom: func.rem(96);

   @media (max-width:bp.$md) {
      margin-bottom: func.rem(56);
   }

   // .bouquets__container

   &__container {}

   // .bouquets__title

   &__title {
      margin-bottom: func.rem(6);

      @media (max-width:bp.$md) {
         margin-bottom: func.rem(21);
      }
   }

   // .bouquets__description

   &__description {
      font-size: 21px;
      line-height: 143%;
      text-align: center;
      max-width: 730px;
      margin: 0 auto;
      margin-bottom: func.rem(15);

      @media (max-width:bp.$md) {
         font-size: 17px;
         line-height: 124%;
      }
   }

   // .bouquets__link

   &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 18px;
      font-size: 21px;
      line-height: 143%;
      margin-bottom: func.rem(25);
      position: relative;
      z-index: 1;

      @media (max-width:bp.$md) {
         font-size: 17px;
         gap: 7px;
      }

      &:hover {
         text-decoration: underline;
      }

      img {
         flex: 0 0 35px;
         width: 35px;
         height: 15px;

         @media (max-width:bp.$md) {
            flex: 0 0 25px;
            width: 25px;
            height: auto;
         }
      }

      // .bouquets__link_grey

      &_grey {
         color: #a4a39f;
      }
   }

   // .bouquets__slider

   &__slider {
      position: relative;
      padding-top: func.rem(65);
      margin-top: func.rem(-65);

      @media (max-width:bp.$md) {
         overflow: visible !important;
      }
   }

   // .bouquets__wrapper

   &__wrapper {}

   // .bouquets__slide

   &__slide {
      position: relative;
      @include mixin.adaptiveValue("width", 320, 153, 3, 991.98, 375);

      &:not(:has(.bouquets__slide-name)) {
         .bouquets__image-ibg {
            @include mixin.adaptiveValue("height", 540, 203, 0, 1920, 375);
         }
      }
   }

   // .bouquets__image-ibg

   &__image-ibg {
      margin-bottom: func.rem(15);
      border-radius: 10px;
      overflow: hidden;
      @include mixin.adaptiveValue("height", 746, 203, 0, 1920, 375);

      @media (max-width:bp.$md) {
         margin-bottom: func.rem(5);
      }
   }

   // .bouquets__slide-name

   &__slide-name {
      font-size: 21px;
      line-height: 119%;
      color: var(--green-text-color);

      @media (max-width:bp.$md) {
         font-size: 16px;
      }

      &::before {
         content: '';
         position: absolute;
         inset: 0;
      }

      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }
   }

   // .bouquets__nav

   &__nav {
      position: absolute;
      z-index: 5;
      top: 5px;
      right: 19px;
      display: flex;
      justify-content: flex-end;
      gap: 75px;

      @media (max-width:bp.$lg) {
         display: none;
      }
   }

   &__button-prev,
   &__button-next {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
         width: 17px;
         height: 31px;

         use {
            fill: var(--green-text-color);
         }
      }
   }

   // .bouquets__button-prev

   &__button-prev {}

   // .bouquets__button-next

   &__button-next {}

   // .bouquets__form

   &__form {
      max-width: 834px;
      margin: 0 auto;
      margin-top: func.rem(81);

      @media (max-width:bp.$md) {
         margin-top: func.rem(48);
      }

      .form {

         // .form__grid

         &__grid {}

         // .form__line

         &__line {}

         // .form__label

         &__label {}

         // .form__input

         &__input {}

         // .form__clear-svg

         &__clear-svg {}

         // .form__footer

         &__footer {}

         // .form__button

         &__button {}

         // .form__consent

         &__consent {}

         // .form__consent-link

         &__consent-link {}
      }
   }
}

//========================================================================================================================================================

.selections {
   margin-bottom: func.rem(100);

   @media (max-width:bp.$md) {
      margin-bottom: func.rem(40);
   }

   // .selections__container

   &__container {}

   // .selections__title

   &__title {
      margin-bottom: func.rem(70);

      @media (max-width:bp.$md) {
         margin-bottom: func.rem(20);
      }
   }

   // .selections__row

   &__row {
      display: grid;
      gap: 60px;

      @media (max-width:bp.$lg) {
         gap: 11px;
      }

      @media (max-width:bp.$md) {
         grid-template-columns: 1fr;
         gap: 30px;
      }

      &:not(:last-child) {
         margin-bottom: func.rem(70);

         @media (max-width:bp.$lg) {
            margin-bottom: func.rem(45);
         }

         @media (max-width:bp.$md) {
            margin-bottom: func.rem(30);
         }
      }

      // .selections__row_cols-2

      &_cols-2 {
         @media (min-width:bp.$md) {
            grid-template-columns: repeat(2, 1fr);
         }
      }

      // .selections__row_cols-3

      &_cols-3 {
         @media (min-width:bp.$md) {
            grid-template-columns: repeat(3, 1fr);
         }
      }
   }

   // .selections__link

   &__link {
      display: grid;
      grid-template-rows: 1fr auto;

      @media (any-hover: hover) {
         &:hover {
            .selections__image-ibg img {
               transform: scale(1.03);
            }
         }
      }
   }

   // .selections__name

   &__name {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 36px;
      color: var(--green-text-color);
      margin-bottom: func.rem(20);

      @media (max-width:bp.$md) {
         font-size: 22px;
         margin-bottom: func.rem(10);
         text-align: center;
      }
   }

   // .selections__image-ibg

   &__image-ibg {
      border-radius: 10px;
      overflow: hidden;
      @include mixin.adaptiveValue("height", 652, 253, 0, 1920, 375);

      img {
         transition: transform 0.3s ease 0s;
      }

      .selections__row_cols-3 & {
         @include mixin.adaptiveValue("height", 754, 253, 0, 1920, 375);
      }
   }
}

//========================================================================================================================================================

.faq {
   margin-bottom: func.rem(100);

   // .faq__container

   &__container {
      @media (max-width:bp.$md) {
         padding: func.rem(0) func.rem(10);
      }
   }

   // .faq__title

   &__title {
      @media (max-width:bp.$lg) {
         margin-bottom: func.rem(33);
      }
   }

   // .faq__slider

   &__slider {
      position: relative;
      padding-top: func.rem(3);

      @media (max-width:bp.$md) {
         overflow: visible !important;
      }
   }

   // .bouquets__nav

   &__nav {
      display: flex;
      justify-content: flex-end;
      gap: 75px;
      margin-bottom: func.rem(15);

      @media (max-width:bp.$lg) {
         display: none;
      }
   }

   &__button-prev,
   &__button-next {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
         width: 17px;
         height: 31px;

         use {
            fill: var(--green-text-color);
         }
      }
   }

   // .faq__button-prev

   &__button-prev {}

   // .faq__button-next

   &__button-next {}

   // .faq__wrapper

   &__wrapper {}

   // .faq__slide

   &__slide {
      background: #f7f5f0;
      padding: func.rem(35);

      @media (max-width:bp.$lg) {
         width: 283px;
         padding: func.rem(20);
      }
   }

   // .faq__question

   &__question {
      font-size: 36px;
      color: var(--green-text-color);
      margin-bottom: func.rem(35);

      @media (max-width:bp.$lg) {
         font-size: 19px;
         font-weight: 500;
         margin-bottom: func.rem(8);
      }
   }

   // .faq__answer

   &__answer {
      font-size: 21px;
      line-height: 143%;

      @media (max-width:bp.$lg) {
         font-size: 17px;
         line-height: 124%;
      }
   }
}

//========================================================================================================================================================

.reviews {
   margin-bottom: func.rem(150);

   @media (max-width:bp.$md) {
      margin-bottom: func.rem(85);
   }

   // .reviews__container

   &__container {}

   // .reviews__title

   &__title {
      margin-bottom: func.rem(70);

      @media (max-width:bp.$md) {
         margin-bottom: func.rem(25);
      }
   }

   review-lab .widget__header {
      display: none;
   }
}