@use '../config/breakpoints' as bp;
@use '../config/mixins' as mixin;
@use '../config/functions' as func;

// Заголовки, общие БЄМ блоки и проче...
//========================================================================================================================================================

// Стили для отзывчивых картинок (IBG)
// Сниппет (HTML): ibg (div c картинкой и классами)
// Сниппет (HTML): ibga (a c картинкой и классами)
[class*="-ibg"] {
   position: relative;

   img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
   }
}

[class*="-ibg_contain"] {
   img {
      object-fit: contain;
   }
}

// Визуально прячем элемент, оставляя его доступным
.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.hover-overlay {
   position: relative;

   &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgba(0, 0, 0, 0.1);
      width: calc(100% + 6px);
      height: calc(100% + 6px);
      border-radius: 5px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease 0s;
   }

   @media (any-hover: hover) {
      &:hover {
         &::before {
            opacity: 1;
            visibility: visible;
         }
      }
   }
}

.title-cormorant {
   font-family: var(--second-family);
   font-weight: 600;
   font-size: 46px;
   text-align: center;
   color: var(--green-text-color);

   @media (max-width:bp.$md) {
      font-size: 30px;
   }
}