@use '../config/breakpoints' as bp;
@use '../config/mixins' as mixin;
@use '../config/functions' as func;

// Заголовки, общие БЄМ блоки и проче...
//========================================================================================================================================================

// Стили для отзывчивых картинок (IBG)
// Сниппет (HTML): ibg (div c картинкой и классами)
// Сниппет (HTML): ibga (a c картинкой и классами)
[class*="-ibg"] {
   position: relative;

   img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
   }
}

[class*="-ibg_contain"] {
   img {
      object-fit: contain;
   }
}

// Визуально прячем элемент, оставляя его доступным
.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.hover-overlay {
   position: relative;

   &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgba(0, 0, 0, 0.1);
      width: calc(100% + 6px);
      height: calc(100% + 6px);
      border-radius: 5px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease 0s;
   }

   @media (any-hover: hover) {
      &:hover {
         &::before {
            opacity: 1;
            visibility: visible;
         }
      }
   }
}

.title-cormorant {
   font-family: var(--second-family);
   font-weight: 600;
   font-size: 46px;
   text-align: center;
   color: var(--green-text-color);

   @media (max-width:bp.$md) {
      font-size: 30px;
   }

   // .title-cormorant_brown

   &_brown {
      color: var(--brown-text-color);
   }
}

.green-button {
   background: var(--green-button);
   border-radius: 5px;
   font-size: 21px;
   font-weight: 400;
   text-align: center;
   padding: func.rem(18) 0;
   display: block;
   color: #000;
   transition: background 0.3s ease 0s;

   @media (any-hover: hover) {
      &:hover {
         background: var(--green-button-hover);
      }
   }

   @media (max-width:bp.$md) {
      font-size: 17px;
      padding: func.rem(12) 0;
   }
}

.grey-button {
   background: #eaeaea;
   border-radius: 5px;
   font-size: 21px;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 50px;
   padding: func.rem(0) func.rem(14);
   transition: background 0.3s ease 0s;

   @media (max-width:bp.$md) {
      font-size: 17px;
   }

   @media (any-hover: hover) {
      &:hover {
         background: #e2e2e2;
      }
   }
}

.page {
   // .page__container

   &__container {
      .empty-state & {
         margin-bottom: func.rem(100);

         @media (max-width:bp.$md) {
            margin-bottom: func.rem(45);
         }
      }
   }

   // .page__title

   &__title {
      text-align: center;
      margin-bottom: func.rem(30);

      &:has(+.page__text) {
         margin-bottom: func.rem(10);
      }

      &:has(+.about) {
         margin-bottom: func.rem(60);
      }
   }

   // .page__text

   &__text {
      text-align: center;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 21px;
      line-height: 143%;
      text-align: center;
      color: #979797;
      margin-bottom: func.rem(50);

      @media (max-width:bp.$md) {
         font-size: 17px;
         line-height: 124%;
      }

      &:has(+.custom-bouquets) {
         color: #000;
         max-width: 730px;
         margin-left: auto;
         margin-right: auto;
         margin-top: func.rem(40);
      }
   }

   // .page__link

   &__link {
      width: 332px;
      margin: 0 auto;

      @media (max-width:bp.$xs) {
         width: 100%;
      }
   }
}

.status-message {
   display: grid;
   grid-template-columns: 19px 1fr;
   gap: 14px;
   align-items: center;
   font-size: 16px;
   line-height: 112%;

   &::before {
      content: '';
      width: 19px;
      height: 14px;
      display: block;
   }

   // .status-message_success

   &_success {
      color: #449831;

      &::before {
         background: url(../img/icons/icon_success.svg) center no-repeat;
      }
   }

   // .status-message_failure

   &_failure {
      color: #c13e59;

      &::before {
         background: url(../img/icons/icon_failure.svg) center no-repeat;
      }
   }

   // .status-message__text

   &__text {}
}

.link-to-block {
   font-family: var(--font-family);
   font-weight: 400;
   font-size: 21px;
   line-height: 143%;
   text-align: center;
   color: #000;
   display: grid;
   grid-template-columns: repeat(2, auto);
   gap: 14px;
   justify-content: center;
   align-items: center;
   margin-bottom: func.rem(33);

   @media (max-width:bp.$md) {
      font-size: 17px;
      margin-bottom: func.rem(17);
   }

   img {
      width: 16px;
      height: 21px;

      @media (max-width:bp.$md) {
         width: 13px;
         height: 16px;
      }
   }
}

.action-notification {
   position: fixed;
   top: -150px;
   left: 0;
   right: 0;
   background: #000;
   color: #fff;
   z-index: 500;
   width: 300px;
   margin: 0 auto;
   border-radius: 10px;
   padding: func.rem(10);
   text-align: center;
   transition: all 0.3s ease 0s;

   &.show {
      top: 100px;
   }
}