@use '../config/breakpoints' as bp;
@use '../config/variables' as var;
@use '../config/functions' as func;
@use '../config/mixins' as mixin;

// #region sidebar-catalog-btn
@media (min-width:bp.$md) {
   .sidebar-catalog-open .wrapper {
      &::after {
         content: '';
         position: fixed;
         width: 100%;
         height: 100%;
         background: rgba(0, 0, 0, 0.5);
         inset: 0;
         z-index: 10;
      }
   }
}

// #endregion

// #region sidebar-catalog

.sidebar-catalog-open {
   cursor: url(../img/icons/icon_close-cursor-black.svg) 10 10, default;
}

.sidebar-catalog {
   position: fixed;
   top: 0;
   left: 0;
   cursor: auto;
   color: var(--beige-text-color);
   z-index: 25;
   opacity: 0;
   visibility: hidden;
   transition: all 0.3s ease 0s;

   .sidebar-catalog-open & {
      opacity: 1;
      visibility: visible;
      cursor: auto;
   }

   @media (max-width:bp.$md) {
      width: 100%;
   }

   // .sidebar-catalog__body

   &__body {
      background: var(--main-background);
      position: relative;
      z-index: 1;
      display: grid;
      grid-template-columns: 421px 1fr;

      @media (max-width:bp.$md) {
         grid-template-columns: 1fr;
      }
   }

   // .sidebar-catalog__header

   &__header {
      padding: func.rem(58) func.rem(20) func.rem(22) func.rem(70);
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (min-width:bp.$md) {
         position: absolute;
         z-index: 1;
         width: max-content;
      }

      @media (max-width:bp.$md) {
         justify-content: flex-end;
         position: relative;
         z-index: 10;
         padding: func.rem(26) func.rem(20);

         .sidebar-sub-catalog-open & {
            justify-content: space-between;
         }
      }
   }

   // .sidebar-catalog__back

   &__back {
      width: 18px;
      height: 26px;
      display: none;

      @media (max-width:bp.$md) {
         .sidebar-sub-catalog-open & {
            display: block;
         }
      }
   }

   // .sidebar-catalog__back-svg

   &__back-svg {
      width: 100%;
      height: 100%;

      use {
         fill: #4b4b4b;
      }
   }

   // .sidebar-catalog__close

   &__close {
      width: 26px;
      height: 26px;
   }

   // .sidebar-catalog__close-svg

   &__close-svg {
      width: 100%;
      height: 100%;


      use {
         fill: #574c40;
      }
   }

   // .sidebar-catalog__menu-chunk

   &__menu-chunk {
      position: relative;
      padding-top: func.rem(115);
      padding-bottom: func.rem(70);
      height: 100vh;
      display: grid;
      align-content: center;

      @media (max-width:bp.$md) {
         padding: 0;
         align-content: start;
      }
   }

   // .sidebar-catalog__menu-inner

   &__menu-inner {
      overflow: auto;
      height: 100%;

      &::-webkit-scrollbar {
         display: none;
      }

      @media (max-width:bp.$md) {
         height: calc(100vh - 85px);
         padding-bottom: func.rem(83);
      }
   }

   // .sidebar-catalog__menu

   &__menu {
      display: flex;
      flex-direction: column;
      gap: 3px;

      @media (max-width:bp.$md) {
         padding-top: func.rem(83);
         padding-bottom: func.rem(17);
      }

   }

   // .sidebar-catalog__phones-block

   &__phones-block {
      @media (min-width:bp.$xl) {
         display: none;
      }
   }

   // .sidebar-catalog__phone

   &__phone {
      display: block;
      font-weight: 500;
      font-size: 28px;
      line-height: 179%;
      color: #0c0c0c;
      padding: func.rem(5) func.rem(29) func.rem(5) func.rem(61);

      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }

      @media (max-width:bp.$md) {
         padding: func.rem(5) func.rem(20);
      }
   }

   // .sidebar-catalog__link

   &__link {
      font-size: 34px;
      line-height: 185%;
      font-weight: 400;
      padding: func.rem(5) func.rem(29) func.rem(5) func.rem(61);
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 17px;
      gap: 17px;

      &[data-parent]:not([data-parent='']) {
         &::after {
            content: url(../img/icons/sidebar-catalog__link.svg);
         }
      }

      // sidebar-catalog__link _sub-menu-active

      @media (min-width:bp.$md) {
         &._sub-menu-active {
            background: var(--second-background);
         }
      }

      @media (max-width:bp.$md) {
         padding: func.rem(5) func.rem(20);
      }

      &:hover {
         background: var(--second-background);
      }
   }

   // .sidebar-catalog__sub-catalog

   &__sub-catalog {}
}

.sidebar-sub-catalog {
   background: var(--second-background);
   display: none;
   padding: func.rem(41) 0;
   height: 100vh;

   .sidebar-sub-catalog-open & {
      display: block;
   }

   @media (max-width:bp.$md) {
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      right: -100%;
      transition: all 0.3s;
      display: block;
      padding-top: func.rem(74);
      padding-bottom: func.rem(30);

      .sidebar-sub-catalog-open & {
         right: 0;
      }
   }

   // .sidebar-sub-catalog__wrapper

   &__wrapper {
      position: relative;
      height: 100%;
      overflow: auto;

      &::-webkit-scrollbar {
         display: none;
      }
   }

   // .sidebar-sub-catalog__chunk

   &__chunk {

      @media (max-width:bp.$md) {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
      }

      &._sub-menu-open {
         display: block;
      }
   }

   // .sidebar-sub-catalog__grid

   &__grid {
      display: grid;
      grid-template-columns: 1fr;
      align-content: start;
      align-items: start;
      height: 100%;
      overflow: auto;

      &::-webkit-scrollbar {
         display: none;
      }

      @media (max-width:bp.$lg) {
         padding-bottom: func.rem(100);
      }


   }

   // .sidebar-sub-catalog__link

   &__link {
      padding-left: func.rem(61);
      padding-right: func.rem(104);
      font-size: 24px;
      line-height: 233%;
      color: #746356;
      background: none;
      border-radius: 0;

      @media (max-width:bp.$md) {
         padding: func.rem(0) func.rem(20);
         line-height: 56px;
         max-width: 100%;
      }

      &:hover {
         background: var(--main-background);
      }
   }
}

// #endregion